{% extends 'base.html' %}
{% load static %}

{% block bgimage %} {% static 'assets/img/home-bg.jpg' %} {% endblock bgimage %}

{% block heading %}BLOGS{% endblock heading %}
{% block Bootstrap %}
BLOGS
{% endblock Bootstrap %}
{% block front %}





<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">






            <div class="container px-4">
                <div class="row gx-5">
                    <div class="col">
                        <div class="p-3 border bg-light ">
                            <a href="{% url 'front' %}">All Blogs</a>
                            {% for category in categories %}
                            <a href="/?category={{category.id}}">{{category.Categoryname}}</a>

                            {% endfor %}
                        </div>
                    </div>









                    <!-- Post preview-->

                    {% if blog %}
                    {% for blog in blog %}


                    <div class="post-preview">
                        <a href="{% url 'fdepth' blog.id %}">
                            <h2 class="post-title">{{blog.Title}}</h2>
                            <h3 class="post-subtitle">{{blog.Description | truncatewords:30}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{blog.Author}}</a>
                            on date {{blog.Pub_date |date:"F j, Y" }}
                        </p>
                    </div>


                    {% endfor %}

                    {% endif %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"
                            href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% if blog.has_previous %}
                <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
                
                <li class="page-item"><a class="page-link" href="/?page={{blog.previous_page_number}}">Previous</a></li>
                {% endif %}

                {% for n in totalpagelist %}

                <li class="page-item"><a class="page-link" href="/?page={{n}}">{{n}}</a></li>
                
                {% endfor %}

                {% if blog.has_next %}
                <li class="page-item"><a class="page-link" href="/?page={{lastpage}}">Last Page</a></li>

                <li class="page-item"><a class="page-link" href="/?page={{blog.next_page_number}}">Next</a></li>
                
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endblock front %}