{% extends 'base.html' %}
{% load static %}

{% block front %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="{% static 'text/css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    
{% load crispy_forms_tags %}

<div class="main">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body border-0">
                        <center><H1>Update Blog</H1></center>
                        <form method="POST" enctype="multipart/form-data">
                            <!-- Security token by Django -->
                            {% csrf_token %}

                            {{ form | crispy }} 

                            <input type="submit" class="btn btn-success mt-3 mx-auto" value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock front %} 
